* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --green: #47cfac;
}
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Flaticon;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: var(--green);
}
header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: white;
}
header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
header nav .nav-logo-container {
  margin-left: 50px;
}
header nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
header nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
header nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

/* ---------- MAIN ---------- */
.hero-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-image: url(/assets/img/hero.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero-container section {
  height: 350px;
  margin-top: 80px;
  grid-column: 2 / 4;
  font-size: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
.hero-container h1 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
}
.hero-container input {
  width: 100px;
  height: 40px;
  background: var(--green);
  border: none;
}
/* ---------- END MAIN ---------- */
